In [5]:
import numpy as np
import pandas as pd

#### Series

In [6]:
labels = ['a', 'b', 'c']
my_data = [13,20,45]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':45}

In [8]:
pd.Series(my_data)

0    13
1    20
2    45
dtype: int64

In [9]:
pd.Series(my_data, index=labels)

a    13
b    20
c    45
dtype: int64

In [11]:
pd.Series(arr,labels)

a    13
b    20
c    45
dtype: int64

In [12]:
pd.Series(d)

a    10
b    20
c    45
dtype: int64

In [15]:
ser1 = pd.Series([8,3,2,5,6], ['KE','UG', 'TZ', 'ETH','SML'])
ser1

KE     8
UG     3
TZ     2
ETH    5
SML    6
dtype: int64

In [17]:
ser1['TZ']

2

#### DataFrames

In [18]:
from numpy.random import randn

In [19]:
np.random.seed(101)

In [42]:
# create dataframe
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],
                  ['col1','col2','col3','col4'])

df

       col1      col2      col3      col4
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [40]:
# access column 

df['col3']

A   -0.162535
B   -0.855196
C   -0.568581
D   -0.391157
E    0.720788
Name: col3, dtype: float64

In [28]:
type(df['col3'])

pandas.core.series.Series

In [29]:
# access column 
df.col3

A   -0.162535
B   -0.855196
C   -0.568581
D   -0.391157
E    0.720788
Name: col3, dtype: float64

In [43]:
# access list of columns
df[['col3', 'col1']]

       col3      col1
A -1.385379  1.606780
B -0.771329  0.041460
C  0.649148 -0.804652
D  0.161781 -1.080471
E  0.783316  0.975720

In [44]:
#add new column from existing

df['new'] = df['col3'] + df['col2']

df

       col1      col2      col3      col4       new
A  1.606780 -1.115710 -1.385379 -1.329660 -2.501089
B  0.041460 -0.411055 -0.771329  0.110477 -1.182384
C -0.804652  0.253548  0.649148  0.358941  0.902696
D -1.080471  0.902398  0.161781  0.833029  1.064179
E  0.975720 -0.388239  0.783316 -0.708954  0.395077

In [34]:
# drop column
df.drop('new', axis=1)

       col1      col2      col3      col4
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [36]:
# drop rows
df.drop('C')

       col1      col2      col3      col4       new
A -1.467514 -0.494095 -0.162535  0.485809 -0.656630
B  0.392489  0.221491 -0.855196  1.541990 -0.633705
D  0.641806 -0.905100 -0.391157  1.028293 -1.296257
E -1.972605 -0.866885  0.720788 -1.223082 -0.146097

In [37]:
# Access ROWS by location(loc)

df.loc['B']

col1    0.392489
col2    0.221491
col3   -0.855196
col4    1.541990
new    -0.633705
Name: B, dtype: float64

In [38]:
# Access rows via index based location (iloc)
df.iloc[1]

col1    0.392489
col2    0.221491
col3   -0.855196
col4    1.541990
new    -0.633705
Name: B, dtype: float64

In [ ]:
# select item from dataframe

df.iloc[]