In [23]:
def times2(var):
    return var * 2

In [10]:
times2(23)

46

In [19]:
seq = list(range(11))
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list(map(times2, seq))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###### lambda expression

In [18]:
t = lambda var:var * 2

t(3)

6

In [20]:
list(map(lambda num: num*3, seq))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

###### filter

In [22]:
list(filter(lambda num: num%2 == 0,seq))

[0, 2, 4, 6, 8, 10]

methods

In [24]:
s = "this IS a String"

In [25]:
s.lower()

'this is a string'

In [26]:
s.split()

['this', 'IS', 'a', 'String']

In [27]:
tweet = "Go Sports! #Sports"

In [29]:
tweet.split('#')[1]

'Sports'

In [30]:
d = {'k1':34,'k2':6}

In [31]:
d.keys()

dict_keys(['k1', 'k2'])

In [32]:
d.items()

dict_items([('k1', 34), ('k2', 6)])

In [50]:
d.values()

dict_values([34, 6])

In [45]:
lst = [3,7,8]

In [46]:
item = lst.pop()
item

8

In [47]:
lst.append(11)

lst

[3, 7, 11]

In [48]:
'x' in lst

False

In [49]:
7 in lst

True

##### tuple unpacking

In [51]:
x = [(2,3), (4,5), (1,8)]

In [52]:
x[1][0]

4

In [53]:
for item in x:
    print (item)

(2, 3)
(4, 5)
(1, 8)

In [56]:
for a,b in x:
    print (b)

3
5
8